<%= render "/shared/inventory_nav"%>
<h1  class="text-lg text-gray-600 dark:text-gray-400">Enter existing stock</h1> <i class="text-xs text-red-600 dark:text-red-400">(All fields marked with * are mandetory)</i>

<%= render "existing_form", inventory: @inventory %>
