<div id="<%= dom_id department_module %>">
  <p>
    <strong>Name:</strong>
    <%= department_module.name %>
  </p>

  <p>
    <strong>Module url:</strong>
    <%= department_module.module_url %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= department_module.department_id %>
  </p>

</div>
