<% content_for :title, "New department module" %>

<h1>New department module</h1>

<%= render "form", department_module: @department_module %>

<br>

<div>
  <%= link_to "Back to department modules", department_modules_path %>
</div>
