<div id="<%= dom_id unit_of_measurement %>">
  <p>
    <strong>Name:</strong>
    <%= unit_of_measurement.name %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= unit_of_measurement.code %>
  </p>

</div>
