<div class="flex justify-center text-center">
    <span class="flex-1">Hello <%= @user.fullname %></span>
    <span class="flex-1">Your account has been successfully created.</span>
    <span class="flex-1">Click <a href="https://kabacoug.com/">Login now</a>.</span>
    <span class="flex-1">Your username is <%= @user.email %> and password is <%= @user.password %></span>
</div>