<div id="<%= dom_id beer_return %>">
  <p>
    <strong>Loading order:</strong>
    <%= beer_return.loading_order_id %>
  </p>

  <p>
    <strong>Return date:</strong>
    <%= beer_return.return_date %>
  </p>

</div>
