<% content_for :title, "Editing beer return" %>

<h1>Editing beer return</h1>

<%= render "form", beer_return: @beer_return %>

<br>

<div>
  <%= link_to "Show this beer return", @beer_return %> |
  <%= link_to "Back to beer returns", beer_returns_path %>
</div>
