<div id="<%= dom_id expense_type %>">
  <p>
    <strong>Expense category:</strong>
    <%= expense_type.expense_category_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= expense_type.name %>
  </p>

</div>
