<div class="flex w-full gap-3 mb-4 text-left">
  <a href="/inventory_items" class="px-3 py-1 text-sm <%= @active_link=='purchases' ? 'text-gray-200 bg-gray-500 rounded-full dark:text-gray-500 dark:bg-gray-200' : 'text-white bg-gray-900 rounded-full dark:text-gray-900 dark:bg-white'%>">Beer Movement</a> 
  <a href="/inventory_items/empties" class="px-3 py-1 text-sm <%= @active_link=='empties' ? 'text-gray-200 bg-gray-500 rounded-full dark:text-gray-500 dark:bg-gray-200' : 'text-white bg-gray-900 rounded-full dark:text-gray-900 dark:bg-white'%>">Empties Movement</a>  
</div>
