<div id="<%= dom_id stock_transfer_item %>">
  <p>
    <strong>Nile product:</strong>
    <%= stock_transfer_item.nile_product_id %>
  </p>

  <p>
    <strong>Stock transfer:</strong>
    <%= stock_transfer_item.stock_transfer_id %>
  </p>

  <p>
    <strong>Transfer quantity:</strong>
    <%= stock_transfer_item.transfer_quantity %>
  </p>

</div>
