<% content_for :title, "Editing vendor adjustiment" %>

<h1>Editing vendor adjustiment</h1>

<%= render "form", vendor_adjustiment: @vendor_adjustiment %>

<br>

<div>
  <%= link_to "Show this vendor adjustiment", @vendor_adjustiment %> |
  <%= link_to "Back to vendor adjustiments", vendor_adjustiments_path %>
</div>
