<% content_for :title, "New vendor adjustiment" %>
<h1  class="text-lg text-gray-600 dark:text-gray-400">Vendor Adjustment</h1> <i class="text-xs text-red-600 dark:text-red-400">(All fields marked with * are mandetory)</i>

<%= render "form", vendor_adjustiment: @vendor_adjustiment %>
