<div id="<%= dom_id nile_category %>">
  <p>
    <strong>Name:</strong>
    <%= nile_category.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= nile_category.description %>
  </p>

</div>
