<% content_for :title, "Editing sale empty" %>

<h1>Editing sale empty</h1>

<%= render "form", sale_empty: @sale_empty %>

<br>

<div>
  <%= link_to "Show this sale empty", @sale_empty %> |
  <%= link_to "Back to sale empties", sale_empties_path %>
</div>
