<div id="<%= dom_id destination %>">
  <p>
    <strong>Nile product:</strong>
    <%= destination.nile_product_id %>
  </p>

  <p>
    <strong>Selling price:</strong>
    <%= destination.selling_price %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= destination.name %>
  </p>

</div>
