<% content_for :title, "Editing cheque" %>

<h1>Editing cheque</h1>

<%= render "form", cheque: @cheque %>

<br>

<div>
  <%= link_to "Show this cheque", @cheque %> |
  <%= link_to "Back to cheques", cheques_path %>
</div>
