<div id="<%= dom_id warehouse %>">
  <p>
    <strong>Territory:</strong>
    <%= warehouse.territory_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= warehouse.user_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= warehouse.name %>
  </p>

</div>
