<%= render "/shared/sales_nav"%>
<h1  class="text-lg text-gray-600 dark:text-gray-400">New Sale Entry</h1> <i class="text-xs text-red-600 dark:text-red-400">(All fields marked with * are mandetory)</i>

<%= render "form", sale: @sale %>
